streamlit==1.24.0
pandas==1.5.3
numpy==1.23.5
joblib==1.3.1
streamlit_option_menu==0.3.6
streamlit_extras==0.2.7
streamlit_lottie==0.0.5
pandas_profiling==3.6.6
streamlit_pandas_profiling==0.1.3
pycaret==3.0.4
xgboost==1.7.3
requests
pip==23.0.1
streamlit==1.24.0
pydantic==1.10.11
numba=0.46.0
